[submodule "Algos_Rust"]
	path = Algos_Rust
	url = https://github.com/48d90782/Algos_Rust
[submodule "Algos_Go"]
	path = Algos_Go
	url = https://github.com/48d90782/Algos_Go
[submodule "Algos_C"]
	path = Algos_C
	url = https://github.com/rustatian/Algos_C
